<ion-view view-title="咨询">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-if="!login" href="#/login">
      登录
    </a>
    <a class="button button-clear" ng-if="login" href="#/person">
      我
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a class="button button-clear" ng-if="!login" href="#/loginfabiao">
      发表
    </a>
    <a class="button button-clear" ng-if="login" href="#/publish-zixun">
      发表
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item style="padding: 0; border-bottom:6px solid #e8e8e8;" class="item item-body" ng-repeat="item in askList" href="#/askDetail/{{$index}}">
        <img style="width: 60px; height: 60px; border-radius: 100%;" ng-src={{"http://119.28.16.18/avatar/"+item.avatar}} />
        <span style="font-size:18px; position: relative; left: 10px; top: -20px;" >{{item.name}}</span>
        <span style="font-size:18px; position: relative; left: 20px; top: -20px;"ng-if="item.gender==0">未知</span>
        <span style="font-size:18px; position: relative; left: 20px; top: -20px;" ng-if="item.gender==1">男</span>
        <span style="font-size:18px; position: relative; left: 20px; top: -20px;" ng-if="item.gender==2">女</span>
        <span style="float: right;">{{item.time}}</span>
        <p style="text-align: justify; font-size:16px;height: auto; max-height: 60px; overflow: hidden;text-overflow: ellipsis;">{{item.detail}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>